@font-face {
	font-family: 'SourceSans';
	src: url('../_font/source-sans.regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans';
	font-weight: bold;
	src: url('../_font/source-sans.bold.ttf') format('truetype');
}

body {
	font-family: 'SourceSans';
	background: #AAA;
}