
/* ============== ADDING FONTS ============== */
@font-face {
	font-family: 'SourceSans';
	src: url('../_font/source-sans.regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans';
	font-weight: bold;
	src: url('../_font/source-sans.bold.ttf') format('truetype');
}

/* ============== STYLE ==============*/

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: white;
	font-family: 'SourceSans', sans-serif;
}