
/* ============== ADDING FONTS ============== */
@font-face {
	font-family: 'SourceSans';
	src: url('../_font/source-sans.regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans';
	font-weight: bold;
	src: url('../_font/source-sans.bold.ttf') format('truetype');
}

/* ============== STYLE ==============*/

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: white;
	font-family: 'SourceSans', sans-serif;
}

/* WALLPAPER */

.wallpaper {
	width: 100%;
	height: 100vh;
	background-image: url('../_img/wallpaper.jpg');
	background-size: cover;
}

/* SEAL */

.seal {
	position: absolute;
	top: 0;
	width: 100%;
	border-top: 5px solid #666;
}

.seal img {
	margin: -5px 50px;
	width: 90px;
	box-shadow: 0px 0px 3px rgba( 0, 0, 0, .5);
}

/* CONTENT */

.content {
	position: absolute;
	top: 0;
	width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.item {
	width: 50%;
	height: 100vh;

	/* center child elements */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* CONTENT: right section */

.logo {

	padding: 100px;
	background-image: url('../_img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	/* center child elements */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.logo h1, .logo h2 {
	font-weight: normal;
	color: white;
}

.logo h1 {
	font-size: 500%;
}

.logo h2 {
	font-size: 200%;
}

/* CONTENT: left section */

.intro {
	padding: 50px;
	background-color: rgba(255,255,255,.5);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.intro img {
	width: 90px;
	height: 90px;
	padding: 10px;
}

.intro > div {
	display: flex;
	margin-top: 30px;
}

.intro div div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro div div p {
	padding-right: 50px;
	color: #333;
}

.intro > p {
	text-indent: 10px;
	font-size: 170%;
	color: #333;
}

#hotlink {
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
	border-radius: 30px;
	background-color: #ff5c5c;
	color: white;
	font-size: 150%;
	cursor: pointer;
	text-decoration: none;
}

#hotlink:hover {
	background-color: #ff8c8c;
}


/* RESPONSIVE SETTINGS */

@media only screen and (max-width: 965px) {

	/*
	.seal img {
		margin: -5px 30px;
		width: 50px;
	}
	*/

	.item {
		width: 100%;
	}

	.logo {
		padding: 60px;
	}
}
